@keyframes scroll-in {
    0%{
        transform: translateY(0vh)
    }
    100%{
        transform: translateY(-150vh);
    }
}

@keyframes peekaboo {
    0%{
        opacity: 0;
        transform: translateY(180%);
    }
    50%{
            opacity: 0;
            transform: translateY(100%);
    }
    100%{
        opacity: 100;
        transform: translateY(0%);
    }
}