*{
    margin: 0;
    padding: 0;
}
.header {
    border: 1px solid red;
    background-color:bisque;
    height: 70vh;
    width: 100vw;
}
.content {
    border: 1px solid blue;
    height: 80vh;
    width: 100vw;
    background-color: rgb(90, 161, 179);
    animation: scroll-in linear forwards;
  /* Link animation to the element's visibility in the viewport */
    animation-timeline: view();
  /* Adjust when the animation starts/ends relative to the viewport */
    animation-range: entry 0% cover 100%;
}
.footer {
    border: 1px solid green;
    height: 70vh;
    width: 100vw;
    background-color: rgb(69, 160, 81);
    animation: scroll-in linear forwards;
  /* Link animation to the element's visibility in the viewport */
    animation-timeline: view();
  /* Adjust when the animation starts/ends relative to the viewport */
    animation-range: entry 0% cover 100%;
}

@keyframes scroll-in {
  from {transform: translateY(0vh); }
  to {transform: translateY(-200vh); }
}
