h1 {
    background-color: hsl(32,64.4%,39.7%);
    text-align: center;
}
body {
    color: hsl(0,0%,70%);
    font-size: large;
    background-color: hsl(175, 50.7%, 26.8%); 
}
#list {
    text-align: center;
}
.image_info {
    text-align: center;
}