@import url("animations.css");
:root{
    --tangerine-dream: #f79256ff;
    --apricot-cream: #fbd1a2ff;
    --pearl-aqua: #7dcfb6ff;
    --pacific-blue: #00b2caff;
    --dusk-blue: #1d4e89ff;
}
*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}

nav {
    width: 100vw;
    background-color: var(--apricot-cream);
    box-shadow: 3px 3px 5px rgb(168, 121, 93);
    z-index: 6;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

nav li{
    height: 50px;
}

nav a{
    display: flex;
    align-items: center;
    text-decoration:none;
    color: black;
    height: 100%;
    padding: 0px 20px;
    transition: 500ms;
}

nav a:hover{
    background-color: var(--tangerine-dream);
    color:white;
    padding: 0px 30px;
    border-radius: 30px;
}

nav li:first-child{
    margin-right: auto;
}


.scroll {
    position: relative;
    z-index: 1;
}

.content1 {
    position: absolute;
    margin-top: 100vh;
    height: 105vh;
    width: 100vw;
    background-color: var(--pearl-aqua);
    animation: scroll-in ease-in-out forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 78%;
}

.footer {
    position: absolute;
    margin-top: 200vh;
    height: 80vh;
    width: 100vw;
    background-color: var(--dusk-blue);
    animation: scroll-in linear forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}

.no-scroll{
    position: relative;
    z-index: -1;
}

.header {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: var(--pacific-blue);
    height: 100vh;
    width: 100vw;
    position: absolute;
    margin-top: 0px;
}

.content2 {
    height: 100vh;
    width: 100vw;
    background-color: var(--pacific-blue);
    position: absolute;
    margin-top: 100vh;
}
h1{
    color:white;
    font-size: 90px;
}
.header h1{
    animation: peekaboo 2s ease-in-out forwards;
    position: absolute;
    left: 10vw;
    width: auto;
}
.content2 h1{
    position: absolute;
    left: 10vw;
    top: 10vh;
    width: auto;
}
#profile_pic{
    /* border: 1px solid red; */
    height:100%;
    width:auto;
    position: absolute;
    right: 0;
    bottom: 0;
    animation: peekaboo 2s ease-in-out forwards;
}