*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}
nav {
    width: 100vw;
    background-color: white;
    box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.4);
    z-index: 6;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

nav li{
    height: 50px;
}

nav a{
    display: flex;
    align-items: center;
    text-decoration:none;
    color: black;
    height: 100%;
    padding: 0px 20px;
    transition: 500ms;
}
nav a:hover{
    background-color: #000000;
    color:white;
    padding: 0px 30px;
    border-radius: 20px;
}
nav li:first-child{
    margin-right: auto;
}

.no-scroll{
    position: relative;
    z-index: -1;
}
.header {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: 70vh;
    width: 100vw;
    position: absolute;
    margin-top: 0px;
}
.content2 {
    height: 70vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    position: absolute;
    margin-top: 100vh;
}
.scroll {
    position: relative;
    z-index: 1;
}
.content1 {
    position: absolute;
    margin-top: 70vh;
    height: 100vh;
    width: 100vw;
    background-color: rgb(46, 46, 46);
    animation: scroll-in ease-in-out forwards;
  /* Link animation to the element's visibility in the viewport */
    animation-timeline: view();
  /* Adjust when the animation starts/ends relative to the viewport */
    animation-range: entry 0% cover 100%;
}
.footer {
    position: absolute;
    margin-top: 170vh;
    height: 80vh;
    width: 100vw;
    background-color: rgb(32, 32, 32);
    animation: scroll-in linear forwards;
  /* Link animation to the element's visibility in the viewport */
    animation-timeline: view();
  /* Adjust when the animation starts/ends relative to the viewport */
    animation-range: entry 0% cover 100%;
}

@keyframes scroll-in {
    0%{
        transform: translateY(0vh)
    }
    50%{
        transform: translateY(-50vh);
    }
    100%{
        transform: translateY(-160vh);
    }
}


h1{
    color:white;
    font-size: 90px;
}