*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background: url(idyllic-summer-landscape-clear-mountain-lake-alps-45054687.webp) no-repeat center;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}
nav {
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
}
nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

nav li{
    height: 50px;
}

nav a{
    display: flex;
    align-items: center;
    text-decoration:none;
    color: black;
    height: 100%;
    padding: 0px 30px;
}
nav a:hover{
    background-color: #8b8b8b;
}

h1{
    position: absolute;
    left: 50%;
    top: 50%;
}