*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
}

.panel{
    width:10vw;
    height: 100vh;
    background-color: rgb(144, 145, 145);
    animation: panel1 5s ease-in-out forwards;
}
 .panels{
    display: flex;
    justify-content: space-evenly;
 }

 @keyframes panel1 {
    0%{
        width:10vw;

    }
    50%{
        width:0px;
    }
    100%{
        width:10vw;
        background-color: rgb(0, 0, 0);
    }
 }

 @keyframes panel2 {
    0%{
        width:10vw;
    }
    50%{
        width:0px;
    }
    100%{
        width:10vw;
        background-color: rgb(255, 255, 255);
        box-shadow: 3px 3px 5px rgba(0,0,0,0);
    }
 }